@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100;1,400&display=swap');

html {
  scroll-behavior: smooth;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;

}

h1 {
  color: #333;
  font-size: 190%;
  text-align: center;
}

h2 {
  color: #000000;
  line-height: 25px;
}

ul {
  list-style: none;
  margin-left: -1.1em;
}

li {
  margin-bottom: 10px;
  position: relative;
}
li:before {
  content: '✓';
  position: absolute;
  left: -20px;
}

a {
  color: #db4747;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
a:hover, a:focus {
  color: #c82727;
}

.clearfix, header, .info {
  display: table;
  content: '';
  clear: both;
}

/* Box Model */
*, *:after, *:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #ffffff;
  color: #333;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.resume {
  position: relative;
  background: white;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto 50px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2), inset 0 0 10px rgba(0, 0, 0, 0.1);
}

.work {
  border-top: 2px #c0c0c0 solid;
  margin-top: 9px;
}


header h1:after {
  position: absolute;
  content: '';
  height: 100%;
  border-top: 45px solid transparent;
  border-bottom: 45px solid transparent;
  border-left: 20px solid #28627d;
  right: -20px;
  top: 0;
}
header div {
  position: relative;
  color: white;
  float: left;
  height: auto;

}
/* ESTO ES EL BOTON SUBIR */
    .boton-subir{
  display: none;
  background: #3b8fb8;
  border: thin solid #fff;
  border-radius: 3px;
  position: fixed;
  right: 15px;
  bottom:2px;
  z-index: 999999999;
}
/*evento hover*/
  .boton-subir:hover{
  box-shadow:   0px 2px 10px 0px rgba(0, 0, 0, 0.75);
}
/*estilos para el tag i*/
  .boton-subir i{
  color: rgb(0, 0, 0);
  font-size: 1.5em;
  padding: 10px 10px 10px 7px;
  -ms-transform: rotate(-45deg); /* IE 9 */
  -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
  transform: rotate(-45deg);
}
/* FIN DEL BOTON SUBIR */

.premio2 {
  text-align: center;
}

#nav-3 {
  background-color: #f8f8ffcf;

}

section {
  background-color: #f8f8ffcf;

}
.foto2 {
transition: transform 0.9s;
}

.foto2:hover {
  box-shadow: #000000b5 -2px -1px 6px 2px;
  transform: scale(1.3);
}

.imgnota {
  display: block;
    width: 50%;
    margin: auto;
    height: auto;
    box-shadow: #000000 0px 0px 3px 0px;
}

/* FIN DE LAS REGLAS GENERALES....PARA CUALQUIER TAMAÑO QUE TENGA, AHORA ABAJO VAN LAS ESPECIALES */

@media (max-width: 58em) {
  .resume {
    width: 96%;
  }
}

header {
  position: relative;
  background: #3b8fb8;
  width: 100%;
  overflow: hidden;
  height: 90px;
  text-shadow: 1px 2px 3px #304a63;
  padding-bottom: 6px;
  border-radius: 5px;
}
header h1 {
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-size: 250%;
  color: white;
  margin: 0 0 8px 0;
  height: 90px;
  padding-top: 15px;
  padding-left: 35px;
  padding-right: 30px;
  float: left;
  z-index: 2;
  border-bottom: 1px solid;
}


@media (max-width: 75em) {
  header h1 {
    width: 100%;
    padding-right: 5px;
  }
section {
  border-right: 1px #e0dcdc solid;
  background-color: #f8f8ffcf;
}

  .contact-info {
    line-height: 35px;
  }
  img.foto1 {
    box-shadow: #ffffff42 0px 0px 11px 3px;
    transition: all 0.8s;
    border-radius: 3px;
  }

 img.foto1:hover {
   box-shadow: rgb(255, 255, 255) 0px 0px 11px 3px;
   cursor: pointer ;
   transform: rotateY(180deg);
   transition: all 0.8s;
 } 
 /* Aca pongo un nuevo navegador a ver como funciona */
#nav-3 {
  text-align: center;
  display: flex;
  justify-content: space-around;
  margin-top: 5px;

}

a.link-3 {
  text-decoration: none;
  color: #000000;
  width: 100%;
}

a.link-3:hover {
  background-color: #3b8fb8;
  color: #e7e7e7;
}
/* Termina el navegador */


 /*seccion premio foto con descripcion porner en las otras unidades */
.cajaPremio {
  display: grid;
  grid-template-columns: repeat(2,1Fr); /* en celu va 1,1fr*/
  background-color: #f5f5f5;
  border-radius: 1px;
  text-align: center;
  align-items: center;
} 
.foto2 {
  width: 80%;
  padding: 14px;
  /* border-radius: 20px; */
}
}

/* Donde dice max-width:36em poner todo lo de celulares */
@media (max-width: 36em) {
  header h1 {
    /* display: none; <esto es en span lo borre al final de h1 > */
    font-size: 200%;
  }
  header div:first-of-type {
    height: auto;
    text-align: center;
    padding: 0px 0px;
  }
/* Aca pongo un nuevo navegador a ver como funciona */
#nav-3 {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 5px;

}

a.link-3 {
  text-decoration: none;
  color: #000000;
  width: 100%;
}

a.link-3:hover {
  background-color: #3b8fb8;
  color: #e7e7e7;
}
/* Termina el navegador */


  
  section {
    padding: 0 21px;
  }

  .cajaPremio {
    grid-template-columns: repeat(1,1Fr);
  }

  .foto2 {
    width: 90%;
    padding: 5px;
    border-radius: 10px;
} 
.foto2 {
  transition: transform 0.9s;
  }
  
  .foto2:hover {
    box-shadow: #000000b5 -2px -1px 6px 2px;
    transform: scale(1.2);
  }

.imgnota {
  display: block;
    width: 50%;
    margin: auto;
    height: auto;
    box-shadow: #000000 0px 0px 3px 0px;
}


}

@media (max-width: 75em) {
  header div {
    width: 50%;
    text-align: center;
    
  }
  .contact-info {
    font-size: 20px;
   }
}
/* ESTO ES PARA MAS DE 75em, pantallas GRANDES */
@media (min-width: 75em) {
  header div {
    width: 50%;
    text-align: center;
  }
  header h1 {
    width: 100%;
    padding-right: 5px;
  }
section {
  border-right: 1px #e0dcdc solid;
}

/* Aca pongo un nuevo navegador a ver como funciona */
#nav-3 {
  text-align: center;
  display: flex;
  justify-content: space-around;
  margin-top: 5px;

}

a.link-3 {
  text-decoration: none;
  color: #000000;
  width: 100%;
}

a.link-3:hover {
  background-color: #3b8fb8;
  color: #e7e7e7;
}
/* Termina el navegador */
  .contact-info {
    line-height: 35px;
  }
  img.foto1 {
     box-shadow: #ffffff42 0px 0px 11px 3px;
     transition: all 0.8s;
   }

  img.foto1:hover {
    box-shadow: rgb(255, 255, 255) 0px 0px 11px 3px;
    cursor: pointer ;
    transform: rotateY(180deg);
    transition: all 0.8s;
  } 

   .contact-info {
    font-size: 22px;
   }

   .cajaPremio {
    display: grid;
    grid-template-columns: repeat(2,1Fr);
    background-color: #f5f5f5;
    border-radius: 10px;
    text-align: center;
    align-items: center;
   }

.foto2 {
  width: 75%;
  box-shadow: #000000b5 2px 1px 6px 2px;
  transition: all 0.8s;
  margin: 7px;
  border-radius: 4px;
  /* transition: transform 0.9s; */
}

.foto2:hover {
  box-shadow: #000000b5 -2px -1px 6px 2px;
  /* transform: scale(1.5); */
}

.imgnota {
  display: block;
    width: 50%;
    margin: auto;
    height: auto;
    box-shadow: #000000 0px 0px 3px 0px;
}

}

@media (max-width: 36em) {
   header div {
    width: 100%;

  } 
}
header div:first-of-type {

  z-index: 1;
}

 
header a {
  color: white;
  padding: 0 3px;
  border-radius: 2px;
  text-decoration: none;
}
header a:hover, header a:focus {
  color: rgb(0, 0, 0);
  background: #e7e7e7;
  border-radius: 5px;
}

.info {
  width: 100%;
}

section {
  float: left;
  width: 70%;
  padding: 0 21px;
}
section article {
  margin-bottom: 30px;
  border-top: 2px #c0c0c0 solid;
    margin-top: 9px;
}
section h2 {
  font-size: 100%;
  text-transform: uppercase;
  margin-bottom: 0;
}
section h2 span {
  text-transform: none;
}
section p {
  line-height: 1.5;
}
section .education p {
  margin-top: 3px;
}
/*voy a cambiar al reves */

@media (max-width: 58em) {
  section {
    width: 100%;
  }
/* Aca pongo un nuevo navegador a ver como funciona */
#nav-3 {
  text-align: center;
  display: flex;
  justify-content: space-around;
  margin-top: 5px;

}

a.link-3 {
  text-decoration: none;
  color: #000000;
  width: 100%;
}

a.link-3:hover {
  background-color: #3b8fb8;
  color: #e7e7e7;
}
/* Termina el navegador */
.imgnota {
  display: block;
    width: 50%;
    margin: auto;
    height: auto;
    box-shadow: #000000 0px 0px 3px 0px;
}

}

.work .block {
  margin-bottom: 30px;
}

aside {
  float: left;
  background: whitesmoke;
  border-left: 1px solid #ccc;
  width: 30%;
  padding-left: 30px;
  padding-right: 30px;
}
aside article {
  margin-bottom: 50px;
}
aside h1 {
  font-size: 150%;
  margin-top: 29px;
}
aside a {
  color: #333;
  text-decoration: none;
  /* border-bottom: 1px dashed gainsboro; */
}
aside a:hover, aside a:focus {
  background: #3b8fb8;
  color: white;
  
}
@media (max-width: 58em) {
  aside {
    width: 100%;
    border-left: none;
    border-top: 1px solid #ccc;
  }
}

h3.pie {
  text-align: center;

}